@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html {
	font-size: 20px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	line-height: 1.6;
}

* {
	box-sizing: border-box;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.d-none {
	display: none;
}

h2 {
	text-align: center;
	font-size: 1.2rem;
}
.mt-100{
	margin-top: 5rem;
}
.md-50{
	margin-bottom: 2.5rem;
}
.overflow{
	overflow: hidden;
}
.pos-relative{
	position: relative;
}
.pos-absolute{
	position: absolute;
}


/*************header****************/

.container {
	max-width: 1190px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.nav-top {
	background-color: black;
	color: white;
	position: sticky;
	/* padding-top: 32px;
	top: -32px; */
	top:0px;
	align-self: flex-start;
	z-index: 1000;
}

.tnb {
	display: flex;
	justify-content: center;
	column-gap: 1rem;
	padding-bottom: .5rem;
	padding-top: .5rem;
}

.mainlogo {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logoimg {
	min-width: 15.25rem;
}

.mainlogo form {
	display: flex;
	align-items: center;
}


.mainlogo form input:nth-child(1) {
	/* border: 4px solid black; */
	height: 3rem;
	width: 25rem;
	font-size: 1.5rem;
}

.mainlogo form input:nth-child(2) {
	min-width: 4rem;
	min-height: 4rem;
	border: none;

}
.tnb li:hover{
	color: rgb(106, 94, 114);
}
.gnb {
	display: flex;
	column-gap: 2rem;
	justify-content: center;
	margin: 2rem auto 0 auto;
	background-color: rgb(106, 94, 114);
	color: white;
	/* padding: .7rem; */
	font-size: 1.2rem;
}

.gnb li:hover {
	color: black;
}
.gnb li{
	padding: 0.8rem;
}

/**************section***************/


/**carousel**/
.events {
	min-width: 300%;
	display: flex;
	transition: all .4s;
}

.pager {
	text-align: center;
}

.pager a {
	border: 1px solid black;
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	overflow: hidden;
	font-size: 0;
}


.pager a:nth-child(2) {
	margin: 0 .5rem;
}

.pagerblack {
	background-color: black;
}


/***상품***/
.productsList{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 3rem;
	
}
.productsList li{
	position: relative;
	

}
.productImg img{
	max-width: 15rem;
	
}
.greyoverlay{
	position:absolute;
	min-width: 15rem;
	min-height: 15rem;
	background-color: rgb(0, 0, 0, .3);
	color:white;
	display: none;
}
.greyoverlay p{
	height: 5rem;
	position: inherit;
	top: calc(50% - 0.5rem);
	left: calc(50% - 2.5rem);
}
.productsList li:hover .greyoverlay{
	display:flex;
}
.productsList li:hover{
	text-decoration: underline;
}
.overlay{
	padding:1rem;
}

.seeMore1{
	width: 5rem;
	font-size: 1.5rem;
	color:white;
	background-color: black;
	margin:2rem auto;
	text-align: center;
}
.seeMore2{
	width:5rem;
	font-size: 1.5rem;
	color:white;
	background-color: black;
	margin:2rem auto;
	text-align: center;
}
.height6{
	height: 40rem;
}

/*************aside****************/

.dropMenu ul{
	width: 12rem;
	border:1px solid black;
	background-color: white;
	color:black;
}
.dropMenu2 ul{
	width: 12rem;
	border:1px solid black;
	background-color: white;
	color:black;
}
.dropMenu3 ul{
	width: 12rem;
	border:1px solid black;
	background-color: white;
	color:black;
}
.dr-none{
	top:3rem;
	display: none;
}
.dropMenu li:hover{
	background-color: #ddd;
}
.dropMenu2 li:hover{
	background-color: #ddd;
}
.dropMenu3 li:hover{
	background-color: #ddd;
}
.gnb li:nth-child(3):hover div{
	display:block;
}
.gnb li:nth-child(4):hover div{
	display:block;
}
.gnb li:nth-child(5):hover div{
	display:block;
}





/*************footer****************/
footer{
	padding: 2rem 1rem 1rem 1rem;
	background-color: #f3f3f3;
}
address {
	text-align: center;
	font-size: 0.8rem;
}
address p:nth-child(3){
	font-size:.6rem;
}
/*****sidenav***/
.nav-side{
	position: fixed;
	right: 10%;
	top:80%;
}
.contact ul{
	display: flex;
	column-gap: .4rem;
}
.contact ul li img{
	width:2rem;
}

/********회사소개*******/
.company-intro h3{
	font-size: 2rem;
	padding: 2rem;
}
.introduce{
	display: inline-block;
}
.ceoimg{
	float:left;
	
}
.ceoimg img{
	height: 15rem;
}
.ceodetail{
	
	text-align: left;
}
.ceodetail h4{
	text-indent: 2rem;
	font-size: 1.8rem;
	margin-top: 2rem;
}
.ceodetail p{
	font-size: 1.3rem;
	padding-left: 14rem;

}
.ceodetail p::after{
	clear: both;
}
.year-detail{
	list-style: square;
}
.year-ul{
	background-color: #f3f3f3;
	padding: 1rem 0 1rem 0;

}
.year-detail{
	text-align: left;
	margin-left: 2rem;
}
.company-img img{
	width:20rem;
}
.company-desc p{
	width: 30rem;
	float:left;
	margin-left: 1rem;
	margin-top: 1.5rem;
	font-size:1.3rem;
	text-align: left;
}
.deliveryimg img{
	width:20rem;
}
.deliveryinfo{
	margin-bottom: 3rem;
}
/********로그인************/
.loginh{
	font-size: 2rem;
	padding: 2rem;
}
.login-container{

	width: 35rem;
	margin:0 auto;
}
.login-form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 3.5rem;
}
.login-table, .btn-table{
	min-width: 35rem;
	margin:0 auto;
	height: 10rem;
}
.login-table th{
	
	text-align: left;
	text-indent: 8rem;
}
.login-table td{
	text-align: left;
}

#uid,#upw{
	padding:.7rem;
	font-size: 1rem;
}
#login-btn{
	border-color: transparent;
	background-color: black;
	color:white;
	font-size: 2rem;
	padding: .8rem;
}
.btn-table th,.btn-table td{
	vertical-align: top;
}



/****미디어 태그****/
@media screen and (max-width: 480px) {
	body {
		background-color: black;
	}
}