@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

html {
	font-size: 20px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	line-height: 1.6;
}

/*************header****************/

.container {
	max-width: 1190px;
	margin: 0 auto;	
}	


/**************section***************/

/*************aside****************/
/*************footer****************/





/****미디어 태그****/
@media screen and (max-width: 480px) {
	body {
		background-color: red;
	}
}